.user-group-manager-wrap {
    max-width: 1500px !important;
}

/* Add styles to notices */
.wnus-notice {
    max-width: 811px !important;
    border: 1px solid green;
    border-left: 10px solid green;
    padding: 20px;
    font-size: 1.5rem;
    background: white;
}
